<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.androidlatihanmix_firebase">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ios"
            android:label="Sarkom Apps"
            android:roundIcon="@mipmap/ios"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.androidlatihanmix_firebase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.androidlatihanmix_firebase.Login"/>
        <activity android:name="com.example.androidlatihanmix_firebase.Register"/>
        <activity android:name="com.example.androidlatihanmix_firebase.Home"/>
        <activity android:name="com.example.androidlatihanmix_firebase.fragment.Profile"/>
        <activity android:name="com.example.androidlatihanmix_firebase.fragment.Update"/>
        <activity android:name="com.example.androidlatihanmix_firebase.fragment.Cardlist"/>
    </application>

</manifest>